<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Building Alerts Admin</title>
  <script src="index.js" async></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <navbar style="display: none">
    <div class="navbar-container">
      <div class="navbar-content">
        <div class="navbar-logo">
          <a href="/admin/dashboard"><img src="../../favicon.ico" alt="BuildingAssure Logo"></a>
        </div>
        <div class="navbar-links">
          <a href="/admin/dashboard">Home</a>
          <a href="/admin/createbuilding">Create Building</a>
          <a href="/admin/adddevices">Add Devices/Sensors</a>
          <a style="cursor: pointer" onclick="logout()">Logout</a>
          
          <!-- <a href="/admin/createBuilding">Create Building</a>
          <a href="/admin/createUser">Create User</a>
          <a href="/admin/createReport">Create Report</a>
          <a href="/admin/viewReports">View Reports</a>
          <a href="/admin/viewBuildings">View Buildings</a>
          <a href="/admin/viewUsers">View Users</a>
          <a href="/admin/resetPassword">Reset Password</a>
          <a href="/admin/logout">Logout</a> -->
        </div>
      </div>
    </div>
  </navbar>
  <div id="body-container">
    <h2 class="body-header">
      Dashboard
    </h2>
    <div id="body-sidebar">
      <button onclick="populateBuildingListing()">Buildings</button>
      <!-- <button onclick="populateSuiteListing()">Suites</button> -->
      <button onclick="populateAssetListing()">Assets</button>
      </br>
      </br>
      <input type="text" placeholder="Search" id="search-input"/>
      <button type="button" id="search-button">Search</button>
    </div>
    <div id="body-listing-container">
      <div id="body-listing-list">

      </div>
      <div id="body-listing-details">
      </div>

    </div>

  </div>
  <footer>
    <div class="footer-container">
      <div class="footer-content">
        <h2>BuildingAssure Footer</h2>
      </div>
    </div>
  </footer>
  

  
</body>
</html>
