<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BasicPro Admin</title>
  <script src="login.js" async></script>
  <link rel='stylesheet' href='login.css' />
</head>
<body>
  <div class="container">
    <h2 id="title">My Building Alerts Admin Login</h2>
    <form id="loginForm">
      <input type="username" id="username" placeholder="Username" required>
      <input type="password" id="password" placeholder="Password" required>
      <p id="debugMessage"></p>
      <input type="submit" value="Login">
    </form>
  </div>

</body>
</html>
